{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
  {% block content %} 
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
          
            {% for key,product in products %}
                {% if key ==0 %}
                 <div class="carousel-item active">
                  {% else %}
                   <div class="carousel-item ">
                {% endif %}
                 <img class="d-block img-fluid" src="http://placehold.it/900x350" alt={{product.name}}>
            </div>
            {% endfor %}
          </div>
          
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row">
        {% for categorie in categories %}
            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{categorie.name}}</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <a href="{{ path('product-category', { 'id': categorie.id }) }}" class="btn btn-primary btn-xs" style="color: #FFF">Voir tout</a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="navigation" >
            {{ knp_pagination_render(categories) }}
        </div>
     {% endblock %}
{% endblock %}

