
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; brinis Haykel 2020</p>
    </div>
</footer>
<script src="{{ asset('Templeate/js/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('Templeate/js/bootstrap.bundle.min.js')}}"></script>
<script>
    $(document).ready(function () {
        console.log('444');
    })
</script>
</body>
</html>